<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- sources -->
        <%- include('comp-link'); -%>
        <title>404 | Sinf Students</title>
        <link rel="stylesheet" href="/css/err404.css">
    </head>

    <body>
        <!-- header -->
        <%- include('comp-header'); -%>

        <section>
            <!-- https://codepen.io/Tbgse/pen/dYaJyJ -->
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
        </section>

        <!-- footer -->
        <%- include('comp-footer&script'); -%>
        <script src="/js/error.js"></script>
    </body>
</html>
