<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- sources -->
        <%- include('comp-link'); -%>
        <title>Reset password | Sinf Students</title>
        <link rel="stylesheet" href="/css/newPassword.css">
    </head>

    <body>
        <!-- header -->
        <%- include('comp-header'); -%>

        <div class="title">
            <h2>Reset password</h2>
        </div>

        <section>
            <form class="" action="/newPassword" method="post">
                <% if (locals.err) { %>
                    <span style="color: red; font-size: 2em;"><%= err %></span>
                <% } %>
                <div class="div-input">
                    <label for='change-password'>New password</label><input class="form-control" type="password" id="change-password" name="password" maxlength="32" minlength="8" required data-toggle="popover" data-trigger="focus" title="Restriction" data-content="Your password must containe between 8 and 32 characters.">
                </div>

                <div class="div-input">
                    <label for='change-password-confirm'>Confirm new password</label><input class="form-control" type="password" id="change-password-confirm" name="confirmPassword" maxlength="32" minlength="8" required disabled>
                </div>

                <input class="btn btn-secondary" id="sendBtn" type="submit" value="Sign up" disabled>
            </form>
        </section>

        <!-- footer -->
        <%- include('comp-footer&script'); -%>

        <script type="text/javascript">
            $( document ).ready(() => {
                document.getElementById('change-password-confirm').disabled = true
                document.getElementById('sendBtn').disabled = true
                $('#change-password').popover({
                    trigger: 'focus'
                })

                document.getElementById('change-password').addEventListener('input', (e)=>{
                    if(e.target.value.length > 7 && e.target.value.length < 33){
                        document.getElementById('change-password-confirm').disabled = false
                    }else {
                        document.getElementById('change-password-confirm').disabled = true
                    }
                })

                document.getElementById('change-password-confirm').addEventListener('input', (e)=>{
                    if(e.target.value === document.getElementById('change-password').value){
                        document.getElementById('sendBtn').style.backgroundColor = "#2ecc71"
                        document.getElementById('sendBtn').disabled = false
                    }else {
                        document.getElementById('sendBtn').style.backgroundColor = "#1a1a1a"
                        document.getElementById('sendBtn').disabled = true
                    }
                })
            });
        </script>
    </body>
</html>
